<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6 order-md-2">
    <h2 class="featurette-heading">But Why? <span class="text-muted">I am runnig GoLang as my backend.</span></h2>
    <p class="lead">A personal loan is often used to consolidate debts into a single repayment or pay for expenses like holidays, weddings and cars that would be difficult to pay off within the interest free period on a credit card.

        Unlike a mortgage, our personal loans are “unsecured” which means you don’t need to provide a deposit or collateral (like your home or car).
        
        Unsecured loans are also paid off over a shorter period (2 – 5 years), so you can get to your goal of paying the debt off sooner.</p>
  </div>
  <div class="col-md-6 order-md-1">
    <img src="https://cdn.wallpapersafari.com/62/11/DHNEOC.jpg">
  </div>
</div>

