
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h2 class="featurette-heading">This is an GoLang Example App. <span class="text-muted">It’ll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-6">
    <img src="https://cdn.wallpapersafari.com/62/11/DHNEOC.jpg">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6 order-md-2">
    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">I am runnig GoLang as my backend.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-6 order-md-1">
    <img src="https://cdn.wallpapersafari.com/62/11/DHNEOC.jpg">
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

<%= partial("routes_list.html") %>
